form{
  width: 600px ;
  margin: 0 auto;
  border: 3px solid #0c7f02;
  padding: 10px;
}
label { 
  text-align:left; 
  width:100px; 
}
input { 
  margin-left: 10px; 
}

.form-control {
  width:550px;
}

.form-control2 {
  width:550px;
  margin-left: 10px;
  padding: 10px;
}

body{
  background-color: rgb(191, 243, 182);
} 
legend {
  width: 190px;
            padding: 2px;
            margin-left: calc(47% - 35px - 8px);
        
      }