/* styles.css */

body {
  background-color: #222;
  color: #222;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 130vh;
}

.form-container {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  width: 800px;
}

legend {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

label.control-label {
  font-weight: bold;
  font-size: 16px;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

input.form-control,
select.form-control {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #444;
  width: 100%;
  font-size: 16px;
}

div.radio-inline {
  display: flex;
  align-items: center;
  background-color: #444;
}

button.btn.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: #444;
  cursor: pointer;
}

button.btn.btn-primary:hover {
  background-color: #0069d9;
}
