<!DOCTYPE html>
<html>
<head>
    <title>Course Catalog</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css" /> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" height="50%" width="auto">
</head>
<body>
    <header>
        <a href="/student-home"><img class="logo" src="../static/images/classifylogoside.png"></a>


        <div class="btn-group">
            <a href="/about-us-parent">        <button type="button" class="btn btn-primary">About Us!</button></a>
            <a href="/faq-parent">     <button type="button" class="btn btn-secondary"><i class="bi-question-lg"></i></button></a>
            <a href="/parent-settings"><button type="button" class="btn btn-dark"><i class="bi-person-circle"></i></button></a>
            <a href="/">                <button type="button" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></button></a>
          </div>
      </header>

      <div class="container">
        <h1 class="text-center">Course Catalog</h1>
        <div class="row">
            {% for course in courses %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.courseName }}</h5>
                            <p class="card-text">{{ course.description }}</p>
                            <p>Teacher: {{ course.teacher.user.first_name }} {{course.teacher.user.last_name }}</p>
                            <p>Section: {{ course.section }}</p>
                            <p>Seats Available: {{ course.totalSeats - course.seatsTaken }}</p>
                                <form action="{{ url_for('register_course', course_id=course.courseID) }}" method="POST">
                                    <button type="submit" class="button-56">Register</button>
                                </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>

