<!-- index.html -->
{% extends 'base.html' %}

{% block head %}
    <title>HTML Viewer</title>
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" height="50%" width="auto">
{% endblock %}  

{% block body %}
    <div class="container">
        <div class="button-container" style="text-align: center;">
            <img src="../static/images/classifylogoside.png" alt="Classify Logo" width="950" height="auto" style="display: block; margin: 50px auto 30px;">
            <div style="display: flex; flex-direction: column; align-items: center; gap: 40px;">
                <a href="/sign-up"><button class="button-56">Sign Up</button></a>
                <a href="/log-in"><button class="button-56">Log In</button></a>
            </div>
        </div>
    </div>
{% endblock %}

