<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Teacher Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="static/css/styles.css" rel="stylesheet" type="text/css"/> 
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico" height="50%" width="auto">
    <script>
      function confirmLeave() {
        if (confirm("Are you sure you want to leave this page? Any unsaved changes will be lost.")) {
          window.location.href = "/student-home";
        }
      }
    </script>
    <title>My Logo</title>
  </head>
  
  <body>
    <header>
 <a href="/teacher-home"><img class="logo" src="../static/images/classifylogoside.png"></a>

<div class="btn-group">
  <a href="/about-us-teacher" class="btn btn-primary">About Us!</a>
  <a href="/faq-teacher"><button type="button" class="btn btn-secondary"><i class="bi-question-lg"></i></button></a>
  <!-- <a href="/teacher-settings"><button type="button" class="btn btn-dark"><i class="bi-person-circle"></i></button></a> -->
  <a href="/"><button type="button" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i></button></a>
</div>
</header>
 <!--<div class="d-flex justify-content-center">-->
  
  
  <form class="form-horizontal" method="POST" action="/update-teacher">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Teacher Settings </legend>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Qualifications</label>
      <div class="col-md-4">                     
        <!-- <textarea class="form-control" id="textarea" name="textarea"></textarea> -->
        <input id="qualifications" name="qualifications" type="text" placeholder="qualifications" class="form-control" required="" value="{{ teacher.qualifications }}">
      </div>
    </div>


    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Experience</label>
      <div class="col-md-4">                     
        <!-- <textarea class="form-control" id="textarea" name="textarea"></textarea> -->
        <input id="experience" name="experience" type="text" placeholder="experience" class="form-control" required="" value="{{ teacher.experience }}">
      </div>
    </div>

    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Department</label>
      <div class="col-md-4">                     
        <!-- <textarea class="form-control" id="textarea" name="textarea"></textarea> -->
        <input id="department" name="department" type="text" placeholder="department" class="form-control" required="" value="{{ teacher.department }}">
      </div>
    </div>

    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Status</label>
      <div class="col-md-4">                     
        <!-- <textarea class="form-control" id="textarea" name="textarea"></textarea> -->
        <input id="status" name="status" type="text" placeholder="status" class="form-control" required="" value="{{ teacher.status }}">
      </div>
    </div>

    <!-- Password input - Old Password -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="current_password">Current Password</label>
      <div class="col-md-4">                     
        <input id="current_password" name="current_password" type="password" placeholder="Current Password" class="form-control" required>
      </div>
    </div>

    <script>
      const form = document.querySelector('.form-container');
      const existingPassword = "{{ user.password }}";
    
      form.addEventListener('submit', function(event) {
        const currentPassword = document.getElementById('current_password').value;
        
    
        if (currentPassword !== existingPassword) {
          event.preventDefault(); // Prevent form submission
          alert('Current password is incorrect!');
        }
      });
    </script>
    
  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
        <button id="singlebutton" name="singlebutton" class="button-17" type="submit">Save</button>
    </div>
  </div>
    
    </fieldset>
    </form>
</body>
</html>
    