<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Teacher Settings</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link href="static/css/styles.css" rel="stylesheet" type="text/css"/> 
    
    <title>My Logo</title>
  </head>
  
  <body>
 <div><a href="/teacher-home"><img src="../static/images/icfLogo.png" alt="ICF Logo" width="350" height="auto"></div></a>
 <!--<div class="d-flex justify-content-center">-->
  
  
  <form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Teacher Settings </legend>
    
    <!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Edit</button>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Qualifications</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="textarea" name="textarea"></textarea>
      </div>
    </div>

    <!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Experiance</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="textarea" name="textarea"></textarea>
      </div>
    </div>

    <!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Department</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="textarea" name="textarea"></textarea>
      </div>
    </div>

    <!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>
    
    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textarea">Status</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="textarea" name="textarea"></textarea>
      </div>
    </div>

    <!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>
    
    </fieldset>
    </form>
</body>
</html>
    